.map-container {
  width: 4500px;
  height: 3500px;
  overflow: hidden;
  position: relative;
}

.media-container{
  position: absolute;
}

div.media-container video {
  max-height: 500px;
}


#p5{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (max-width: 768px) {
  .map-container {
    width: 100%; /* Set the width to 100% for smaller screens */
    height: auto;
  }
  .media-container{
    position: relative;
    display: flex;
    height: 150vh;
    margin: 80px auto 80px auto;
    /* background-color: aquamarine; */
  }
}